.movie-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }
  
  .movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  
  p-button {
    margin-top: auto; 
  }
  