<div class="movie-details">
  <p-panel header="Movie Details" [style]="{'text-align': 'center'}">
    <div class="movie-info">
      <p-card [style]="{'width': '300px'}">
        <img [src]="getImageUrl(movie.poster_path)" alt="{{ movie.title }}" class="movie-poster" />
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.releaseDate | date: 'medium' }}</p>
      </p-card>
    </div>
    <div class="movie-description">
      <h3>Overview</h3>
      <p>{{ movie.overview }}</p>
      <h3>Genres</h3>
      <ul>
        <li *ngFor="let genre of movie.genres">{{ genre.name }}</li>
      </ul>
      <p-button label="Back" icon="pi pi-arrow-left" (click)="goBack()"></p-button>
    </div>
  </p-panel>
</div>